/* Add this to your CSS file */

/* For screens smaller than 768px (tablet) */
@media only screen and (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
    nav li {
      margin-bottom: 20px;
    }
    nav button {
      width: 100%;
      text-align: center;
    }
  }
  
  /* For screens smaller than 480px (mobile) */
  @media only screen and (max-width: 480px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
    nav img {
      width: 50%;
      margin: 20px auto;
    }
    nav ul {
      flex-direction: column;
      align-items: center;
    }
    nav li {
      margin-bottom: 20px;
    }
    nav button {
      width: 100%;
      text-align: center;
    }
  }